[Desktop Entry]
Categories=Biology;CBGP;Qt;GNOME;
Name=DIYABC NAMEVERSION
Name[fr]=DIYABC NAMEVERSION
GenericName=Inference on Bayesian
GenericName[fr]=Inférence avec des modèles bayésiens
Comment=Do It Yourself ABC
Comment[fr]=DIY (faites par vous même) de l'ABC
Version=VVERSION
Exec=DIYABCEXEC
Icon=ICON
StartupNotify=true
#StartupWMClass=Diyabc
Terminal=false
Type=Application
