[Desktop Entry]
Name=DIYABC-git NAMEVERSION
Name[fr]=DIYABC-git NAMEVERSION
GenericName=DIAYBC up to date by CBGP git repo
GenericName[fr]=DIAYBC mis à jour par le dépôt git du CBGP
Comment=Run DIYABC-update first 
Comment[fr]=Lancer DIYABC-update en premier
Version=VVERSION
Exec=DIYABCGITEXEC
Icon=ICON
StartupNotify=true
#StartupWMClass=Diyabc
Terminal=false
Type=Application
