[Desktop Entry]
Name=DIYABC-git-update NAMEVERSION
Name[fr]=DIYABC-git-update NAMEVERSION
GenericName=Build DIYABC from CBGP git repo
GenericName[fr]=Construit DIYABC à partir du dépôt git du CBGP
Comment=Warning : dev sources from git repo can be unstable
Comment[fr]=Attention : les sources du dépôt git du CBGP peuvent être instables
Version=VVERSION
Exec=DIYABCGITUPDATEEXEC
Icon=ICON
StartupNotify=true
#StartupWMClass=Diyabc
Terminal=false
Type=Application
